<div class="col-md-6 user-container" *hasPermission="['ROLE_ADMIN']">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="d-none">
      <input type="text" formControlName="id" placeholder="id" name="id" id="id">
    </div>

    <mat-form-field class="form-group w-100">
      <input matInput formControlName="username" placeholder="User Name" name="username" id="username">
    </mat-form-field>

    <mat-form-field class="form-group w-100">
      <input matInput formControlName="firstName" placeholder="First Name" name="firstName" id="firstName">
    </mat-form-field>

    <mat-form-field class="form-group w-100">
      <input matInput formControlName="lastName" placeholder="Last Name" name="lastName" id="lastName">
    </mat-form-field>

    <mat-form-field class="form-group w-100">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roleList" placeholder="Roles" name="Roles" id="roleList" class="custom-mat-select" multiple>
        <mat-option [value]="'ROLE_ADMIN'">ROLE_ADMIN</mat-option>
        <mat-option [value]="'ROLE_USER'">ROLE_USER</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="w-100">
      <button mat-raised-button (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" class="ml-2">Update</button>
    </div>
  </form>
</div>
